body{
  background: url(otherchalk.jpg) no-repeat center center fixed; 
  -webkit-backgound-size: cover;
  -moz-backgrund-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Bitter', serif;
  /* photo from pixabay*/
}


header{
  text-align: center;
  color: #fff;
  margin-top: 100px;
  font-size: 30px;
}

h1{
  text-align: center;
}

.button{
  color: black;
  background-color: #fff;
  font-size: 20px;
  height: 30px;
  width: 50px;
  border-radius: 600%;
  
}

input{
  padding-left: 100px;
  width: 10px;

}

.ques{
  color: #fff;
  text-align: center;
  padding-bottom: 40px;
  font-size: 15px;
  
}


#start{
  color: black;
  background-color: #fff;
  font-size: 20px;
  height: 30px;
  width: 150px;
  border-radius: 50%;

}



@media screen and (max-width: 700px){
    .box{
      width: 70%;
    }
    .popup{
      width: 70%;
    }
  }

