body{
  background: url(shirt.jpg) no-repeat center center fixed;
  font-family: 'Bitter', serif;
}


header{
  text-align: center;
  color: rgb(228, 119, 139);
  margin-top: 100px;
  font-size: 50px;
}

h1{
  text-align: center;
}

button{
  color: black;
  background-color: rgb(228, 119, 139);
  font-size: 20px;
}




@media screen and (max-width: 700px){
    .box{
      width: 70%;
    }
    .popup{
      width: 70%;
    }
  }

  /*How to get my buttons to work for the quiz game, 
  how to use Javascript and design and customize the prompt box.
  How to stop the background photo from disappearing while
  taking the quiz*/
